# Database — SQLite (file stored inside prisma/ directory)
DATABASE_URL="file:./dev.db"

# Application
# APP_ENV="development"   # "local"
APP_ENV="production"   # "production"
PORT=8000
HOST="localhost"
